{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Profile</title>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<!--<link href="css/mdb.min.css" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/byhand-all.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script	type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-gray">
  <div class="">
    <button class="btn btn-outline-info btn-sm openbtn" onclick="myFunction()" id="menu-toggle"> <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span> </button>
	  
  </div>
  <div class="container row">
    <div class="input-group search">
      <input class="form-control py-2 border-right-0 border" type="search" id="search-input" placeholder="Search">
      <span class="input-group-append">
      <button class="btn btn-outline-secondary border-left-0 border bg-white" id="btn-icon" type="button"> <i class="fa fa-search  bg-blue"></i></button>
      </span> </div>
  </div>
  <button class="navbar-toggler navv" type="button" data-toggle="collapse" data-target="#navbarSupportedContents"
            aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContents">
    <ul class="navbar-nav ml-auto disp">
      <li class="nav-item dropdown mr-5"> <a href="#" class="btn btn-clean"> <span class="badge badge-danger badge-corner">8</span> <i class="far fa-bell bg-blue"></i> </a> </li>
      <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle mr-5 text-dark" href="#" id="navbarDropdown2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Annie Fab </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item text-danger logout-dropbox" href=" #">View Profile</a> <a class="dropdown-item logout-dropbox" href="#">Help</a> <a class="dropdown-item logout-dropbox" href="#">Logout</a> </div>
      </li>
    </ul>
  </div>
</nav>
<div class="border-bottom bordclass"> </div>
	<div class="d-flex w-100" id="wrapper"> 
  <!-- Sidebar -->
  <div class="border-right sidepanel" id="sidebar-wrapper">
    <div class="search-leftnav col-12">
      <input type="text" name="search" placeholder="SEARCH.." class="search2">
      <button type="submit" class="scrhbtn"><i class="fa fa-search "></i></button>
    </div>
    <div class="list-group list-group-flush mt-4"> <a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3570.png' %}" alt="" style="width: 20%"> <span class="px-4 items ">Home</span> </a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3571.png' %}" alt="" style="width: 20%"> <span class="px-4 items ">Profile</span></a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3572.png' %}" alt="" style="width: 20%"> <span class="px-4 items ">Activities</span></a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3573.png' %}" alt="" style="width: 20%"> <span class="px-4 items">Settings</span> </a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3569.png' %}" alt="" style="width: 20%"> <span class="px-4 items ">Verifications</span></a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3578.png' %}" alt="" style="width: 20%"> <span class="px-4 items ">Share</span></a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3575.png' %}" alt="" style="width: 20%"> <span class="px-4 items">Help</span> </a>
		<a href="#" class="list-group-items list-group-item-action d-flex"><img src="{% static 'img/Group 3576.png' %}" alt="" style="width: 20%"> <span class="px-4 items">FAQ</span> </a>  </div>
  </div>
	
	
<div class="d-flex w-100" id="page-content-wrapper"> 
  <!-- Sidebar -->
  <div class="container-fluid">
    <div class="row m-0 center-scroll row-height">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 pl-0 pr-0" >
        <div class="d-flex m-0 profile-body">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 py-3 profile">
            <div class="d-flex">
				<div class=" designer-profile"> <img class="img-fluid " src="{% static 'img/g1.jpg' %}" alt="">
                <div class="col-xl-7 m-auto mt-2 exp"> 
					<span class="d-flex">
                  <p>Expert</p>
                  <i class="fas fa-check-circle green-tick ml-2"></i></span> </div>
              </div>
              <div class=" designer-address ">
                <h5>Annie Fab</h5>
                <p>Designer</p>
                <span class="fa fa-star checked font-star"></span> <span class="fa fa-star checked font-star"></span> <span class="fa fa-star checked font-star"></span> <span class="fa fa-star checked font-star"></span> <span class="fa fa-star checked font-star"></span> <span class="d-flex"><i class="fas fa-home"></i>
                <p>Lorem Ipsum is simply dummy
                  text of the printing and
                  typesetting industry.</p>
                </span> <span class="d-flex"><i class="fas fa-briefcase pt-0"></i>
                <p>Designer at Bluesapphire info dolutions</p>
                </span> </div>
            </div>
				</div>
			
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
			
			</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 py-3 text-center profile-thirdrow">
				<div class="enq-btns d-flex float-right"> 
				<a href="#" class="btn btn-primary m-2">Enquiry</a><span class="badge-enq"><i class="fas fa-circle green-tick"></i></span>
<!--				<a href="#" class="btn btn-primary m-2">Enquiry</a><span class="enquiry-online">●</span> -->
				<a href="#" class="btn btn-primary m-2">Appointment</a> </div>
			 
            <div class="table profile-items mt-5">
				 <thead>
                <tr>
				<th ><span class="d-block"><img src="{% static 'img/Group 599.png' %}" alt="">
              <p>Follow</p>
              </span> </th>
					<th><span class="d-block"><img src="{% static 'img/Group 3621.png' %}" alt="">
              <p>Phone</p>
              </span> </th>
					<th><span class="d-block"><img src="{% static 'img/Group 3622.png' %}" alt="">
              <p>Chat</p>
              </span><span class="chat-online"><i class="fas fa-circle green-tick"></i></span></th>
					<th><span class="d-block"><img src="{% static 'img/Group 3623.png' %}" alt="">
              <p>Profile</p>
              </span> </th>
					<th><span class="d-block"><img src="{% static 'img/Group 567.png' %}" alt="">
              <p>Pic Card</p>
              </span></th>
					<th><span class="d-block"><img src="{% static 'img/Group 3625.png' %}" alt="">
              <p>Drop Card</p>
              </span> </th>
					</tr>
					 </thead>
					 </div>
				</div>
			</div>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 pl-0 pr-0">
        <div class="d-flex m-0 profile-body">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 profile ">
				
				</div>
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
				
				</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 text-center profile-thirdrow">
				 
				</div>
			</div>
			</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 pl-0 pr-0">
        <div class="d-flex m-0 profile-body">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 profile ">
				<div class="working-btns d-flex"> <a href="#" class="btn btn-primary m-1 p-2">Working Hours</a> <a href="#" class="btn btn-primary m-1 p-2 pt-3 bg-success">Working</a> <a href="#" class="btn btn-primary d-flex m-1 p-2 pt-3">Download<span class="input-group-prepend pl-1"><i class="fas fa-download"></i></span></a> </div>
            <div class="working-hrs p-3 green-tick text">
              <p>Monday : 09:00am to 05:00pm</p>
              <p>Tuesday : 09:00am to 05:00pm</p>
              <p>Wednesday : 09:00am to 01:00pm </p>
              <p class="text-center wed-evng mr-5"> 02:00pm to 05:00pm</p>
              <p>Thursday : 09:00am to 05:00pm</p>
              <p>Friday : 09:00am to 05:00pm</p>
              <p class="text-danger">Saturday : Closed</p>
              <p class="text-danger">Sunday : Closed </p>
            </div>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
				<div class="working-btns d-flex mt-1 mb-1"> <a href="#" class="btn btn-primary m-1">Experience</a> </div>
            <div class="working-exp working-hrs p-3  text"> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>2 Year in Graphic Designing</p>
              </span> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>1.5 Year in Web Development</p>
              </span> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>2 Year in Web Designing </p>
              </span> </div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 text-center profile-thirdrow">
				<div class="working-btns d-flex mt-1 mb-1"> <a href="#" class="btn btn-primary m-1">Expertise</a> </div>
            <div class="working-exp working-hrs p-3 text"> <span class="d-flex p-2"><i class="fas fa-dot-circle"></i>
              <p class="text-black">2 Year in Graphic Designing</p>
              </span> <span class="d-flex p-2"><i class="fas fa-dot-circle"></i>
              <p class="text-black">1.5 Year in Web Development</p>
              </span> <span class="d-flex p-2"><i class="fas fa-dot-circle"></i>
              <p class="text-black">2 Year in Web Designing </p>
              </span> </div>
			</div>
			</div>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 pl-0 pr-0">
        <div class="d-flex m-0 profile-body">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 profile ">
				<div class="map mt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31491.959473081253!2d76.55331463993382!3d9.377883012139401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06238b6d16c77f%3A0xcc8edad512d19635!2sThiruvalla%2C%20Kerala!5e0!3m2!1sen!2sin!4v1613464549699!5m2!1sen!2sin" width="100%" height="305" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
				</div>
			
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
				<div class="working-btns achieve-btn mb-1"> <a href="#" class="btn btn-primary m-1">Achievements</a> </div>
				<div class="working-achievement working-hrs p-3 text"> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>2 Year in Graphic Designing</p>
              </span> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>1.5 Year in Web Development</p>
              </span> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>2 Year in Web Designing </p>
              </span> </div>
				</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 text-center profile-thirdrow">
				            <div class="working-btns project-btn mb-1"> <a href="#" class="btn btn-primary m-1">Projects, Products</a> </div>
				 <div class="working-achievement working-hrs p-3 text"> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>2 Year in Graphic Designing</p>
              </span> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>1.5 Year in Web Development</p>
              </span> <span class="d-flex p-2"><i class="fas fa-check-circle green-tick ml-2"></i>
              <p>2 Year in Web Designing </p>
              </span> </div>
				</div>
			
			</div>
			</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xm-12 pl-0 pr-0">
			<h5 class="text-center w-25 certify-head text-blue mb-3 font-weight-bold">Certifications</h5>
        <div class="certfications w-100 bg-gray d-flex"> <i class="fas fa-chevron-left left-arrow"></i>
          <div class="card profile-card" data-id="1">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('1')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>

          <div class="card profile-card" data-id="2">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span  class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('2')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="3">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('3')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="4">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('4')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="5">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('5')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <i class="fas fa-chevron-right float-right right-arrow"></i> 
		  </div>
        <h5 class="text-center w-25 certify-head text-danger font-weight-bold mt-3 mb-3">Client Information</h5>
        <div class="certfications w-100 bg-gray d-flex"> <i class="fas fa-chevron-left left-arrow"></i>
          <div class="card profile-card" data-id="6">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('6')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="7">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('7')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="8">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('8')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="9">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('9')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card" data-id="10">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class="d-flex">
                  <div class="company-logo text-center"> <img src="img/b.png" alt=""> </div>
                  <i class="fas fa-check-circle green-tick ml-2"></i> </div>
                <div class="company-details">
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('10')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <i class="fas fa-chevron-right float-right right-arrow"></i>
		  </div>
        <h5 class="text-center w-25 certify-head text-danger font-weight-bold mt-3 mb-3">Testimonial</h5>
        <div class="certfications w-100 bg-gray d-flex"> <i class="fas fa-chevron-left left-arrow"></i>
          <div class="card profile-card w-100" data-id="11">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class=""> <i class="fas fa-check-circle green-tick float-right"></i> </div>
                <div class="company-details text-center pt-4">
                  <h5>Nikhil</h5>
                  <h6 class="text-info font-weight-bold">CEO</h6>
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('11')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card w-100" data-id="12">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class=""> <i class="fas fa-check-circle green-tick float-right"></i> </div>
                <div class="company-details text-center pt-4">
                  <h5>Nikhil</h5>
                  <h6 class="text-info font-weight-bold">CEO</h6>
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span  class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('12')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card w-100" data-id="13">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class=""> <i class="fas fa-check-circle green-tick float-right"></i> </div>
                <div class="company-details text-center pt-4">
                  <h5>Nikhil</h5>
                  <h6 class="text-info font-weight-bold">CEO</h6>
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('13')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card profile-card w-100" data-id="14">
            <div class="card-body profile-body">
              <div class="col-12 p-0">
                <div class=""> <i class="fas fa-check-circle green-tick float-right"></i> </div>
                <div class="company-details text-center pt-4">
                  <h5>Nikhil</h5>
                  <h6 class="text-info font-weight-bold">CEO</h6>
                  <h6 class="green-tick font-weight-bold">BlueSapphire Info Solutions</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="dots">...</span><span class="more">erisque enim ligula venenatis dolor.</span></p>
                  <div class="text-center">
                    <button class="view-more myBtn" onclick="readMore('14')"><i class="fas fa-chevron-circle-down"></i></button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <i class="fas fa-chevron-right float-right right-arrow"></i> 
		  </div>
			</div>
    </div>
  </div>
  <!-- /#Sidebar --> 
</div>
	</div>
<script>
        	function myFunction(){
		var x = document.getElementById("sidebar-wrapper");
		if (x.style.display === "none") {
			x.style.display = "block";
		} else{
			x.style.display = "none";
		}
	}
    </script> 
<script>
function openNav() {
  document.getElementById("sidebar-wrapper").style.width = "166px";
}

function closeNav() {
  document.getElementById("sidebar-wrapper").style.width = "0";
}
	
	function readMore(id) {
        let dots = document.querySelector(`.card[data-id="${id}"] .dots`);
        let moreText = document.querySelector(`.card[data-id="${id}"] .more`);
        let btnText = document.querySelector(`.card[data-id="${id}"] .myBtn`);

        if (dots.style.display === "none") {
            dots.style.display = "inline";
			
            btnText.innerHTML = '<i class="fas fa-chevron-circle-down "></i>';
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = '<i class="fas fa-chevron-circle-up"></i>';
            moreText.style.display = "inline";
        }
    }
	
</script>
</body>
</html>