{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>REGISTRATION | FREELANCER</title>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/byhand.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script	type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
<div class="container-fluid w-100">

  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light w-100 login-header">
      <div class="navbar-brand w-50"><img src="img/DENTOL.png" alt=""></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse pb-2" id="navbarSupportedContent">
        <input type="text" class="form-control m-2 width" id="email" placeholder="Email or Phone Number">
        <div class="width m-2 pswd">
          <input type="password" class="form-control top" id="password" placeholder="Password">
          <p>Forgot Password ?</p>
        </div>

        <button class="btn btn-primary my-2 my-sm-0 m-2 btn1 w-25" type="submit">Login</button>

      </div>
    </nav>
    <div class="col-12 login-body">
      <form action="#" method="post">
        {% csrf_token %}

      <div class="card reg pt-0">
        <h4> PUBLIC </h4>

        <div class="col-12 d-flex ">
          <input type="text" class="form-control mt-4 ml-2 mr-2" id="fname" placeholder="First Name" name="first_name" required>
          <input type="text" class="form-control mt-4 ml-2 mr-2" id="lname" placeholder="Last Name" name="last_name" required>
        </div>
        <input type="email" class="form-control mt-3 ml-4 mr-4 email" id="email2" placeholder="Email" name="email" value="{{ view.email }}">
        <input type="text" class="form-control mt-3 ml-4 mr-4 email" id="phoneno" placeholder="Phone Number" name="phone" value = "{{view.username}}">

        <div class="col-12 buttons mt-4 mb-3 login">
          <button type="submit" class="btn btn-primary btn1 mb-3 w-50">Create Account</button>

        </div>

      </div>
    </div>
  </div>
  </form>

</div>
</body>
</html>
