<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Personal view</h2>
    <div>
        <a href="#" style="padding-right: 15px;">Post</a>
        <a href="{% url 'event' %}" style="padding-right: 15px;">Event</a>
        <a href="{% url 'myenquiry' %}" style="padding-right: 15px;">Enquiry</a>
        <a href="{% url 'myappoinment' %}">Appoinment</a>
    </div>
</body>
</html>