<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update Appointment</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="date">Date</label>
        <input type="date" name="date" id="date" value="{{dateview}}"><br><br>
        <label for="time">time</label>
        <input type="time" name="time" id="time" value="{{timeview}}"><br><br>
        <input type="submit">
    </form>
</body>
</html>