{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style>
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: blue;
}
</style>
</head>
<body>


<div>
    {% for i in comments %}

    {% endfor %}
{% for i in post_items %}

    <div class="card" style="width: 10rem; padding-top:30px">

        {{i.user.first_name}}
  <img src="{{ i.image.url}}"  style="height:100px" class="card-img-top" alt="">


  <div class="card-body">


      {% if liked %}
      <a href="{% url 'dislike' i.id %}"  id="like-btn"> <i   class="fa fa-thumbs-down">{{i.likes}}</i></a>

      {% else %}

      <a href="{% url 'like' i.id %}"  id="dislike-btn"> <i   class="fa fa-thumbs-up">{{i.likes}}</i></a>

      {% endif %}
      <a href="{% url 'post_detail' i.id %}"> <p>Comments : {{i.comments}}</p></a>
    <p class="card-text center">{{i.caption}}</p>

    <p class="card-text ">{{i.tags}}</p><br>
      <i>{{i.post_id}}</i>

      <p>{{i.date}}</p>
  </div>
        <form method = "post">
            {% csrf_token %}
            <input type="text" name="comment">
            <input type="hidden" value="{{ i.id}}" name="id">

            <button type="submit">Post your comment</button>
        </form>
</div>
{% endfor %}

</div>


<!--<script>-->
<!--    $('#like-btn').on("click" , function(e){-->

<!--        e.preventDefault();-->
<!--        var href = this.href;-->
<!--        console.log(href);-->

<!--        $.ajax({-->
<!--            url:href,-->

<!--        })-->
<!--        .done(function(response){-->
<!--         if(response == 'true')-->
<!--         {-->

<!--            location.reload();-->

<!--         }-->
<!--         })-->

<!--    })-->

<!--    $('#dislike-btn').on("click" , function(e){-->

<!--        e.preventDefault();-->
<!--        var href = this.href;-->
<!--        console.log(href);-->

<!--        $.ajax({-->
<!--            url:href,-->

<!--        })-->
<!--        .done(function(response){-->
<!--         if(response == 'true')-->
<!--         {-->

<!--            location.reload();-->

<!--         }-->
<!--         })-->

<!--    })-->




<!--</script>-->

</body>
</html>